<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <!-- Memcached -->
    <section name="RedisConfigInfo" type="HT.Library.Models.SuitConfig, HT.Library" />
    <section name="cacheProvider" type="MemcachedProviders.Cache.CacheProviderSection, MemcachedProviders" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <RedisConfigInfo>
    <ApplyRedis>True</ApplyRedis>
    <!--<WriteServerList>127.0.0.1:6379</WriteServerList>
    <ReadServerList>127.0.0.1:6379</ReadServerList>-->
    <WriteServerList>127.0.0.1:6379</WriteServerList>
    <ReadServerList>127.0.0.1:6379</ReadServerList>
    <MaxWritePoolSize>60</MaxWritePoolSize>
    <MaxReadPoolSize>60</MaxReadPoolSize>
    <AutoStart>true</AutoStart>
    <LocalCacheTime>180</LocalCacheTime>
    <!--单位:秒-->
    <RecordeLog>false</RecordeLog>
    <!--缓存帖子列表分页数(showtopic页数使用缓存前N页的帖子列表信息)-->
    <CacheShowTopicPageNumber>2</CacheShowTopicPageNumber>
    <!--缓存showforum页面分页数-->
    <CacheShowForumPageNumber>2</CacheShowForumPageNumber>
    <!--缓存showforum页面时间(单位:分钟)-->
    <CacheShowForumCacheTime>10</CacheShowForumCacheTime>
  </RedisConfigInfo>
  <!--Memcached-->
  <enyim.com>
    <memcached>
      <servers>
        <add address="127.0.0.1" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:00:20" />
    </memcached>
  </enyim.com>
  <cacheProvider defaultProvider="MemcachedCacheProvider">
    <providers>
      <add name="MemcachedCacheProvider" type="MemcachedProviders.Cache.MemcachedCacheProvider, MemcachedProviders" keySuffix="_MyProjectName_" defaultExpireTime="60000" />
    </providers>
  </cacheProvider>
  <appSettings>
    <!-- [地图密钥] -->
    <!-- GOOGLE MAP KEY -->
    <add key="mapKey5860058" value="ABQIAAAAUf83SBvk-29dohk_yv-KYBR7dMXus4bMqXe0q3ElshMEQ9kD6RR_VuorA4zyztM2yyfM6z_SaCBFGA" />
    <add key="mapKeywwwuuroadcom" value="ABQIAAAANY90K7KP-dPtzsthO9mHNBTn2EcPl-YOVx0u59qmD5SvTApv9RTHuA62vxFZkJR-K5nEeGupe7LuWw" />
    <add key="mapKey211139169164" value="ABQIAAAAUf83SBvk-29dohk_yv-KYBTGwuRc7qJWdn3s_AjEberYELs45xScpL6EJ1kofZ6dmOQQCOuW6sOySA" />
    <add key="mapKey172181235" value="ABQIAAAAUf83SBvk-29dohk_yv-KYBRuc14AH0Xm1VDbfg7mY67Omj6TShRmTJAMyyyCU1dRy71SMLyuY8VWdQ" />
    <add key="mapKey172181139" value="ABQIAAAAUf83SBvk-29dohk_yv-KYBSreDVjf-l7JGotPami2xYdqaUcQhTZX8PvyYHjrSaG2fC1FTRE8AZifg" />
    <add key="mapKey1139824165" value="ABQIAAAA694uJsn_14I4CBaiRd3tWBT48kyK8f-71IjBU9Ur2mFBW9T5NRQ7PaJUUL064N8lSUCRF8GZySvGCA" />
    <add key="mapKey1139824166" value="3acf105227b2315e68cf91e4d29f8cd6a5ed9a3ca0cab55edfb712542336320219ee222c0b75fb2d" />
    <add key="mapKeydevuuroadcom" value="ABQIAAAAUf83SBvk-29dohk_yv-KYBTj9ieOeWKfC4AbOaCCB0ejezS9LBSo7t03oLLcEU0J_dbIbuNZNgFnCA" />
    <add key="mapKey172181240" value="ABQIAAAAUf83SBvk-29dohk_yv-KYBRC3azVJ6D2M3fg2MVPNv-ShbX9mRQRoDQJmaEJTs9G5BF-fBy4OlgtxA" />
    <add key="mapKey1139824168" value="0e563f0c745ccaa4761311c871a53b21fd22ba712bf360769a896b7563a7b17a536a0325cc7c97bb" />
    <add key="mapKey1139824166" value="ABQIAAAAPqBXI-ec9Bi8sjlepQsO5xQ6zxBSJ7IxXmjPkeTSn4zWpe2aPBTLaqlEr2NJPMqcN8CGcbouvNpVRw" />
    <add key="mapKeydevuuroadcom" value="ABQIAAAAUf83SBvk-29dohk_yv-KYBTj9ieOeWKfC4AbOaCCB0ejezS9LBSo7t03oLLcEU0J_dbIbuNZNgFnCA" />
    <add key="mapKey172181240" value="ABQIAAAAUf83SBvk-29dohk_yv-KYBRC3azVJ6D2M3fg2MVPNv-ShbX9mRQRoDQJmaEJTs9G5BF-fBy4OlgtxA" />
    <add key="mapKeywwwlivetelematicscom" value="ABQIAAAAPqBXI-ec9Bi8sjlepQsO5xRGbRuN2YNdTlTdZtX6-aFY9bIt9xSLv0_Kbdz90wWETDj4b_sNd8Qasg" />
    <add key="mapKeylivetelematicscom" value="ABQIAAAAPqBXI-ec9Bi8sjlepQsO5xRGbRuN2YNdTlTdZtX6-aFY9bIt9xSLv0_Kbdz90wWETDj4b_sNd8Qasg" />
    <!-- [发邮件设置] -->
    <!-- SMTP 服务器 -->
    <add key="SendEmailServer" value="smtp.gmail.com" />
    <!-- SMTP 发件箱 -->
    <add key="SendEmail" value="casteluuaid@gmail.com" />
    <!-- SMTP 登录用户名 -->
    <add key="SendEmailUser" value="casteluuaid@gmail.com" />
    <!-- SMTP 登录密码 -->
    <add key="SendEmailPassword" value="CASTEL1uuaid" />
    <!--SMTP服务器端口-->
    <add key="SmtpPort" value="587" />
    <!--SMTP服务是否安全套接字加密-->
    <add key="EnableSsl" value="true" />

    <!--网站数据库配置关键字-->
    <add key="ConfigWebSite" value="Default" />

    <!-- [页面设置] -->
    <!-- 页面标题，默认为OBD-SMART -->
    <add key="pageTitle" value="OBD-Smart" />
    <!-- 默认语言 en-us OR zh-cn ，默认为en-us -->
    <add key="DefaultCulture" value="zh-cn" />
    <!-- cookieDomain域名，默认为1DE1E80E897786608429364EAA45C2C2 -->
    <add key="cookieDomain" value="1DE1E80E897786608429364EAA45C2C2" />
    <!-- 用户默认头像，默认为/uploadFiles/user/noImage.png -->
    <add key="noHeadImageUrl" value="/Uploads/user/noImage.png" />

    <!-- [服务器设置] -->
    <!-- 服务器IP或域名，默认为127.0.0.1 172.18.2.53  172.18.2.75-->
    <add key="ServerIpName" value="172.18.2.160" />
    <!-- 连接服务器的端口，默认为8066 -->
    <add key="ServerPort" value="8066" />

    <!-- [数据库设置] -->
    <!-- 配置数据库名，默认为obd_config -->
    <add key="databaseName" value="obd_config" />
    <!-- 用户数据库名，默认为obd_user_data -->
    <add key="databaseUserDataName" value="obd_user_data" />
    <!-- 车型表(英文) -->
    <add key="carTypeTable_en_us" value="TCarType_en_us" />
    <!-- 车型表(中文) -->
    <add key="carTypeTable_zh_cn" value="TCarType_zh_cn" />
    <!-- 地区表(英文) -->
    <add key="TArea_en_us" value="TArea_en_US" />
    <!-- 地区表(中文) -->
    <add key="TArea_zh_cn" value="TArea_zh_CN" />
    <!-- 是否用完马上关闭连接，默认为false -->
    <add key="isUseAndCloseConnect" value="false" />
    <add key="DefaultFaceL16_16" value="/images/userspace/usrPic/noPic.jpg" />
    <add key="DefaultFaceL34_34" value="/images/userspace/usrPic.jpg" />
    <add key="DefaultFaceL80_80" value="/images/userspace/usrPic/noPic.jpg" />
    <add key="WeaherIconPath" value="/images/weathericon/" />
    <add key="CarImgPath" value="/images/cars/" />

    <!-- [验证码设置] -->
    <!-- 验证码是否显示，默认为true显示 -->
    <add key="VCodeVisible" value="false" />
    <!-- 验证码个数，默认为5 -->
    <add key="VCodeNum" value="5" />
    <!-- 验证码显示模式，默认为7
        1:数字 2:大小字母 3:大字母 4:小字母 5:汉字
        6:数字+大小写字母 7:数字+大字母 8:数字+小字母9:数字+汉字
        10:汉字+大小写字母 11:汉字+大字母 12:汉字+小字母13:数字+汉字+大小写字母
    -->
    <add key="VCodeType" value="7" />
    <!-- 验证码忽略大小写，默认为true -->
    <add key="VCodeIgnoreUL" value="true" />
    <!-- 验证码有无噪线，默认为false -->
    <add key="VCodeNoiseLine" value="false" />
    <!-- 验证码有无噪点，默认为true -->
    <add key="VCodeNoisePoint" value="true" />
    <!-- 验证码字体样式，默认为1  1:固定字体2:多种字体 -->
    <add key="VCodeFont" value="1" />
    <!-- 验证码颜色样式，默认为2  1:黑色2:多种颜色3:渐变颜色 -->
    <add key="VCodeColor" value="2" />

    <!--导出文件格式-->
    <add key="ExportFileExtend" value=".csv" />
    <!--License默认最大OBD个数-->
    <add key="LicenseAllowed" value="25" />
    <add key="RegionMaxPerCar" value="3" />
    <add key="DefaultLang" value="eu-us" />
    <add key="SupportLang" value="zh-cn,en-us,zh-tw" />
    <add key="MobileMaxNum" value="5" />
    <add key="UserMaxCarNum" value="10" />
    <add key="IsUseSpecLang" value="false" />
    <add key="SpecLang" value="en-us" />
    <!--系统LOGO、标题、落款配置-->
    <!--车队管理海外logo<add key="SysLogo" value="/Content/Design/images/userPics/fleet_logo_en.png"/>-->
    <add key="SysLogo" value="/Content/Design/images/userPics/fleet_logo_en.png" />
    <!--车队管理海外title<add key="SysTitle" value="Intelligent Fleet Management Platform"/>-->
    <add key="SysTitle" value="Intelligent Fleet Management Platform" />
    <add key="SysCopyRight" value="Copyright @ U-PAL 2012 All Rights Reserved" />
    <add key="UUAIDFeedbackEmail" value="casteluuaid@gmail.com" />
    <add key="UUAIDFeedbackEmailSubject" value="UU助手蓝牙版用户反馈" />
    <add key="IsSysErrorMail" value="false" />
    <add key="mapServer" value="447D567FF35200A365760727A8ED44BD2E9BA6B4D17E26929ED368031BC57CE6FF47102C450818B8" />
    <add key="MapType" value="OpenScale" />
    <add key="IsDBConEntry" value="False" />
    <add key="ApiAuthTitle" value="Intelligent Fleet Management Platform API" />
    <add key="Memcached.ServerList" value="127.0.0.1:11211" />
     <!--固件上传大小单位Kb-->
    <add key="FirewallSize" value="256" />
    <!--文件上传大小单位M-->
    <add key="FileSize" value="8" />

    <!-- [MQTT服务器设置] -->
    <!-- 服务器IP或域名，默认为 -->
    <add key="MQTTServerIP" value="172.18.1.240" />
    <!-- 连接服务器的端口，默认为 -->
    <add key="MQTTServerPort" value="1884" />
    
    <!--WebSocket地址和端口-->
    <!--<add key="WebSocketIP" value="113.98.241.68"/>-->
    <add key="WebSocketIP" value="172.18.1.240"/>
    <add key="WebSocketPort" value="5000"/>
    <add key="WriteLog" value="false"/>

    <!--实时监控页面取数据站点端口,可以为空-->
    <add key="WebMonitorPort" value=""/>
  </appSettings>

  <connectionStrings>
    <add name="ConnStr" connectionString="data Source=172.18.2.160;database=obd_config;User id=root;password=Ht141421;Pooling=False" providerName="MySql.Data" />
    <!--<add name="ConnStr" connectionString="data Source=172.18.1.241;database=obd_config;User id=root;password=141421;Pooling=False" providerName="MySql.Data" />-->
    <!--<add name="ConnStr" connectionString="data Source=localhost;database=obd_config;User id=root;password=141421;Pooling=False" providerName="MySql.Data" />-->
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.3.7.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
    </DbProviderFactories>
  </system.data>

  <system.web>
    <!--集群发布时请打开 <sessionState mode="StateServer" stateConnectionString="tcpip=172.18.1.166:42424" timeout="20"/>-->
    <httpRuntime executionTimeout="360" maxRequestLength="51200" useFullyQualifiedRedirectUrl="false" />
    <compilation debug="true" defaultLanguage="c#">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="None">

    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <customErrors mode="Off">
      <error statusCode="404" redirect="/Error/HttpError404" />
      <error statusCode="500" redirect="/Error/Index" />
      <error statusCode="505" redirect="/Error/HttpError505" />
    </customErrors>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
      </namespaces>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpHandlers>
    <httpModules>
      <add name="FluorineGateway" type="FluorineFx.FluorineGateway, FluorineFx" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.web.extensions />
  <system.webServer>
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule" />
      <remove name="UrlRoutingModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="FluorineGateway" type="FluorineFx.FluorineGateway" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <remove name="MvcHttpHandler" />
      <remove name="UrlRoutingHandler" />
            <add name="jmvc" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
            <add name="mvc" path="*.mvc" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="Login" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
